In [1]:
import pandas as pd
from patsy import dmatrices

In [2]:
df = pd.DataFrame({'A':['high', 'medium', 'low'], 'B': [10,20,30]}, index = [0,1,2])
df

        A   B
0    high  10
1  medium  20
2     low  30

In [3]:
df_with_dummies = pd.get_dummies(df, prefix='A', columns = ['A'])
df_with_dummies

    B  A_high  A_low  A_medium
0  10       1      0         0
1  20       0      0         1
2  30       0      1         0

## Converting categorical data to numerics

In [5]:
#Using pandas package to factorize data
df['A_pd_factorized'] = pd.factorize(df['A'])[0]
df

        A   B  A_pd_factorized
0    high  10                0
1  medium  20                1
2     low  30                2

In [7]:
#Using sklearn tools
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df['A_LabelEncoded'] = le.fit_transform(df.A)
df

        A   B  A_pd_factorized  A_LabelEncoded
0    high  10                0               0
1  medium  20                1               2
2     low  30                2               1

## Normalizing data

In [8]:
from sklearn import datasets
import numpy as np
from sklearn import preprocessing

In [11]:
iris = datasets.load_iris()
X = iris.data[:, [2,3]]
Y = iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [15]:
std_scale = preprocessing.StandardScaler().fit(X)
X_std = std_scale.transform(X)
#X_std

minmax_scale = preprocessing.MinMaxScaler().fit(X)
X_minmax = minmax_scale.transform(X)
#X_minmax