In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('train.csv')                #Loading in the data

data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [5]:
data.shape

(1460, 81)

## Feature Engineering

In [6]:
#Find null values in the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [7]:
#Dropping the columns with alot of null data
data2 = data.copy()
data2.drop(['Alley', 'PoolQC', 'Fence', 'MiscFeature', 'FireplaceQu'], axis=1, inplace=True)

In [8]:
data2.shape

(1460, 76)

In [9]:
#Filling the empty data 
data2['LotFrontage'] = data2['LotFrontage'].fillna(data2['LotFrontage'].mean())

In [10]:
#Filling empty data in columns with object data type
data2['BsmtQual']= data2['BsmtQual'].fillna(data2['BsmtQual'].mode()[0])
data2['BsmtCond']= data2['BsmtCond'].fillna(data2['BsmtCond'].mode()[0])
data2['BsmtExposure']= data2['BsmtExposure'].fillna(data2['BsmtExposure'].mode()[0])
data2['BsmtFinType1']= data2['BsmtFinType1'].fillna(data2['BsmtFinType1'].mode()[0])
data2['BsmtFinType2']= data2['BsmtFinType2'].fillna(data2['BsmtFinType2'].mode()[0])
data2['GarageYrBlt']= data2['GarageYrBlt'].fillna(data2['GarageYrBlt'].mode()[0])
data2['GarageType']= data2['GarageType'].fillna(data2['GarageType'].mode()[0])
data2['GarageFinish']= data2['GarageFinish'].fillna(data2['GarageFinish'].mode()[0])
data2['GarageQual']= data2['GarageQual'].fillna(data2['GarageQual'].mode()[0])
data2['GarageCond']= data2['GarageCond'].fillna(data2['GarageCond'].mode()[0])
data2['MasVnrType'] = data2['MasVnrType'].fillna(data2['MasVnrType'].mode()[0])
data2['Electrical'] = data2['Electrical'].fillna(data2['Electrical'].mode()[0])
data2['MasVnrArea'] = data2['MasVnrArea'].fillna(data2['MasVnrArea'].mode()[0])

## Handling Text/Object/Categorical data

In [11]:
#All the columns containing object or text data type
object_columns = data2[['MSZoning','Street','LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
                  'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle','RoofStyle',
                  'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType','ExterQual', 'ExterCond',
                  'Foundation', 'BsmtQual', 'BsmtCond','BsmtExposure', 'BsmtFinType1','BsmtFinType2','Heating',
                  'HeatingQC','CentralAir', 'Electrical','KitchenQual','Functional', 'GarageType',
                  'GarageFinish','GarageQual', 'GarageCond','PavedDrive','SaleType','SaleCondition']]
object_columns.head(5)

,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,Electrical,KitchenQual,Functional,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,SaleType,SaleCondition
0,RL,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
1,RL,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,...,SBrkr,TA,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
2,RL,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
3,RL,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,...,SBrkr,Gd,Typ,Detchd,Unf,TA,TA,Y,WD,Abnorml
4,RL,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal

In [12]:
#Applying label Encoder to the categorical columns
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
object_columns = object_columns.apply(label.fit_transform)

In [13]:
data3 = data2.copy()    #This wasn't necessary, i just wasn't sure the next step would work properly

#Drop the object columns in the original data 
for column in  object_columns.columns:
    data3.drop(column, axis =1, inplace =True)
    
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   LotFrontage    1460 non-null   float64
 3   LotArea        1460 non-null   int64
 4   OverallQual    1460 non-null   int64
 5   OverallCond    1460 non-null   int64
 6   YearBuilt      1460 non-null   int64
 7   YearRemodAdd   1460 non-null   int64
 8   MasVnrArea     1460 non-null   float64
 9   BsmtFinSF1     1460 non-null   int64
 10  BsmtFinSF2     1460 non-null   int64
 11  BsmtUnfSF      1460 non-null   int64
 12  TotalBsmtSF    1460 non-null   int64
 13  1stFlrSF       1460 non-null   int64
 14  2ndFlrSF       1460 non-null   int64
 15  LowQualFinSF   1460 non-null   int64
 16  GrLivArea      1460 non-null   int64
 17  BsmtFullBath   1460 non-null   int64
 18  BsmtHalfBath   1460 non-null   int64
 19  FullBath       1460 non-null   int64
 20  HalfBath       1460 non-null   int64
 21  BedroomAbvGr   1460 non-null   int64
 22  KitchenAbvGr   1460 non-null   int64
 23  TotRmsAbvGrd   1460 non-null   int64
 24  Fireplaces     1460 non-null   int64
 25  GarageYrBlt    1460 non-null   float64
 26  GarageCars     1460 non-null   int64
 27  GarageArea     1460 non-null   int64
 28  WoodDeckSF     1460 non-null   int64
 29  OpenPorchSF    1460 non-null   int64
 30  EnclosedPorch  1460 non-null   int64
 31  3SsnPorch      1460 non-null   int64
 32  ScreenPorch    1460 non-null   int64
 33  PoolArea       1460 non-null   int64
 34  MiscVal        1460 non-null   int64
 35  MoSold         1460 non-null   int64
 36  YrSold         1460 non-null   int64
 37  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35)
memory usage: 433.6 KB

In [14]:
#Adding the Id column to the object_columns. This will facilitate merge function later on.
object_columns['Id'] = data.iloc[:,0]

In [15]:
object_columns.head(5)  #Checking for that Id column

,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,KitchenQual,Functional,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,SaleType,SaleCondition,Id
0,3,1,3,3,0,4,0,5,2,2,...,2,6,1,1,4,4,2,8,4,1
1,3,1,3,3,0,2,0,24,1,2,...,3,6,1,1,4,4,2,8,4,2
2,3,1,0,3,0,4,0,5,2,2,...,2,6,1,1,4,4,2,8,4,3
3,3,1,0,3,0,0,0,6,2,2,...,2,6,5,2,4,4,2,8,0,4
4,3,1,0,3,0,2,0,15,2,2,...,2,6,1,1,4,4,2,8,4,5

In [16]:
#Joining data3 with the encoded object_columns
data4 = pd.merge(data3, object_columns, on= 'Id')

In [17]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 0 to 1459
Data columns (total 76 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   LotFrontage    1460 non-null   float64
 3   LotArea        1460 non-null   int64
 4   OverallQual    1460 non-null   int64
 5   OverallCond    1460 non-null   int64
 6   YearBuilt      1460 non-null   int64
 7   YearRemodAdd   1460 non-null   int64
 8   MasVnrArea     1460 non-null   float64
 9   BsmtFinSF1     1460 non-null   int64
 10  BsmtFinSF2     1460 non-null   int64
 11  BsmtUnfSF      1460 non-null   int64
 12  TotalBsmtSF    1460 non-null   int64
 13  1stFlrSF       1460 non-null   int64
 14  2ndFlrSF       1460 non-null   int64
 15  LowQualFinSF   1460 non-null   int64
 16  GrLivArea      1460 non-null   int64
 17  BsmtFullBath   1460 non-null   int64
 18  BsmtHalfBath   1460 non-null   int64
 19  FullBath       1460 non-null   int64
 20  HalfBath       1460 non-null   int64
 21  BedroomAbvGr   1460 non-null   int64
 22  KitchenAbvGr   1460 non-null   int64
 23  TotRmsAbvGrd   1460 non-null   int64
 24  Fireplaces     1460 non-null   int64
 25  GarageYrBlt    1460 non-null   float64
 26  GarageCars     1460 non-null   int64
 27  GarageArea     1460 non-null   int64
 28  WoodDeckSF     1460 non-null   int64
 29  OpenPorchSF    1460 non-null   int64
 30  EnclosedPorch  1460 non-null   int64
 31  3SsnPorch      1460 non-null   int64
 32  ScreenPorch    1460 non-null   int64
 33  PoolArea       1460 non-null   int64
 34  MiscVal        1460 non-null   int64
 35  MoSold         1460 non-null   int64
 36  YrSold         1460 non-null   int64
 37  SalePrice      1460 non-null   int64
 38  MSZoning       1460 non-null   int32
 39  Street         1460 non-null   int32
 40  LotShape       1460 non-null   int32
 41  LandContour    1460 non-null   int32
 42  Utilities      1460 non-null   int32
 43  LotConfig      1460 non-null   int32
 44  LandSlope      1460 non-null   int32
 45  Neighborhood   1460 non-null   int32
 46  Condition1     1460 non-null   int32
 47  Condition2     1460 non-null   int32
 48  BldgType       1460 non-null   int32
 49  HouseStyle     1460 non-null   int32
 50  RoofStyle      1460 non-null   int32
 51  RoofMatl       1460 non-null   int32
 52  Exterior1st    1460 non-null   int32
 53  Exterior2nd    1460 non-null   int32
 54  MasVnrType     1460 non-null   int32
 55  ExterQual      1460 non-null   int32
 56  ExterCond      1460 non-null   int32
 57  Foundation     1460 non-null   int32
 58  BsmtQual       1460 non-null   int32
 59  BsmtCond       1460 non-null   int32
 60  BsmtExposure   1460 non-null   int32
 61  BsmtFinType1   1460 non-null   int32
 62  BsmtFinType2   1460 non-null   int32
 63  Heating        1460 non-null   int32
 64  HeatingQC      1460 non-null   int32
 65  CentralAir     1460 non-null   int32
 66  Electrical     1460 non-null   int32
 67  KitchenQual    1460 non-null   int32
 68  Functional     1460 non-null   int32
 69  GarageType     1460 non-null   int32
 70  GarageFinish   1460 non-null   int32
 71  GarageQual     1460 non-null   int32
 72  GarageCond     1460 non-null   int32
 73  PavedDrive     1460 non-null   int32
 74  SaleType       1460 non-null   int32
 75  SaleCondition  1460 non-null   int32
dtypes: float64(3), int32(38), int64(35)
memory usage: 661.6 KB

## Working on the Testing Data

In [18]:
#Importing the data
test = pd.read_csv('test.csv')
test.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
5,1466,60,RL,75.0,10000,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
6,1467,20,RL,NaN,7980,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,GdPrv,Shed,500,3,2010,WD,Normal
7,1468,60,RL,63.0,8402,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
8,1469,20,RL,85.0,10176,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2010,WD,Normal
9,1470,20,RL,70.0,8400,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,4,2010,WD,Normal

In [19]:
#Dropping the columns with alot of null data
test1 = test.copy()
test1.drop(['Alley', 'PoolQC', 'Fence', 'MiscFeature', 'FireplaceQu'], axis=1, inplace=True)

In [22]:
#Filling the empty data 
test1['LotFrontage'] = test1['LotFrontage'].fillna(test1['LotFrontage'].mean())

#Filling empty data in columns with object data type
test1['BsmtQual']= test1['BsmtQual'].fillna(test1['BsmtQual'].mode()[0])
test1['BsmtCond']= test1['BsmtCond'].fillna(test1['BsmtCond'].mode()[0])
test1['BsmtExposure']= test1['BsmtExposure'].fillna(test1['BsmtExposure'].mode()[0])
test1['BsmtFinType1']= test1['BsmtFinType1'].fillna(test1['BsmtFinType1'].mode()[0])
test1['BsmtFinType2']= test1['BsmtFinType2'].fillna(test1['BsmtFinType2'].mode()[0])
test1['GarageYrBlt']= test1['GarageYrBlt'].fillna(test1['GarageYrBlt'].mode()[0])
test1['GarageType']= test1['GarageType'].fillna(test1['GarageType'].mode()[0])
test1['GarageFinish']= test1['GarageFinish'].fillna(test1['GarageFinish'].mode()[0])
test1['GarageQual']= test1['GarageQual'].fillna(test1['GarageQual'].mode()[0])
test1['GarageCond']= test1['GarageCond'].fillna(test1['GarageCond'].mode()[0])
test1['MasVnrType'] = test1['MasVnrType'].fillna(test1['MasVnrType'].mode()[0])
test1['Electrical'] = test1['Electrical'].fillna(test1['Electrical'].mode()[0])
test1['MasVnrArea'] = test1['MasVnrArea'].fillna(test1['MasVnrArea'].mode()[0])
test1['MSZoning']= test1['MSZoning'].fillna(test1['MSZoning'].mode()[0])
test1['Utilities']= test1['Utilities'].fillna(test1['Utilities'].mode()[0])
test1['Exterior1st']= test1['Exterior1st'].fillna(test1['Exterior1st'].mode()[0])
test1['Exterior2nd']= test1['Exterior2nd'].fillna(test1['Exterior2nd'].mode()[0])
test1['BsmtFinSF1']= test1['BsmtFinSF1'].fillna(test1['BsmtFinSF1'].mode()[0])
test1['BsmtFinSF2']= test1['BsmtFinSF2'].fillna(test1['BsmtFinSF2'].mode()[0])
test1['BsmtUnfSF']= test1['BsmtUnfSF'].fillna(test1['BsmtUnfSF'].mode()[0])
test1['TotalBsmtSF']= test1['TotalBsmtSF'].fillna(test1['TotalBsmtSF'].mode()[0])
test1['BsmtFullBath']= test1['BsmtFullBath'].fillna(test1['BsmtFullBath'].mode()[0])
test1['BsmtHalfBath']= test1['BsmtHalfBath'].fillna(test1['BsmtHalfBath'].mode()[0])
test1['KitchenQual']= test1['KitchenQual'].fillna(test1['KitchenQual'].mode()[0])
test1['Functional']= test1['Functional'].fillna(test1['Functional'].mode()[0])
test1['GarageCars']= test1['GarageCars'].fillna(test1['GarageCars'].mode()[0])
test1['GarageArea']= test1['GarageArea'].fillna(test1['GarageArea'].mode()[0])
test1['SaleType']= test1['SaleType'].fillna(test1['SaleType'].mode()[0])

In [23]:
nulls = test1.isnull().sum()    #Check that all the null values are filled

In [24]:
test1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 75 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1459 non-null   object
 3   LotFrontage    1459 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   object
 6   LotShape       1459 non-null   object
 7   LandContour    1459 non-null   object
 8   Utilities      1459 non-null   object
 9   LotConfig      1459 non-null   object
 10  LandSlope      1459 non-null   object
 11  Neighborhood   1459 non-null   object
 12  Condition1     1459 non-null   object
 13  Condition2     1459 non-null   object
 14  BldgType       1459 non-null   object
 15  HouseStyle     1459 non-null   object
 16  OverallQual    1459 non-null   int64
 17  OverallCond    1459 non-null   int64
 18  YearBuilt      1459 non-null   int64
 19  YearRemodAdd   1459 non-null   int64
 20  RoofStyle      1459 non-null   object
 21  RoofMatl       1459 non-null   object
 22  Exterior1st    1459 non-null   object
 23  Exterior2nd    1459 non-null   object
 24  MasVnrType     1459 non-null   object
 25  MasVnrArea     1459 non-null   float64
 26  ExterQual      1459 non-null   object
 27  ExterCond      1459 non-null   object
 28  Foundation     1459 non-null   object
 29  BsmtQual       1459 non-null   object
 30  BsmtCond       1459 non-null   object
 31  BsmtExposure   1459 non-null   object
 32  BsmtFinType1   1459 non-null   object
 33  BsmtFinSF1     1459 non-null   float64
 34  BsmtFinType2   1459 non-null   object
 35  BsmtFinSF2     1459 non-null   float64
 36  BsmtUnfSF      1459 non-null   float64
 37  TotalBsmtSF    1459 non-null   float64
 38  Heating        1459 non-null   object
 39  HeatingQC      1459 non-null   object
 40  CentralAir     1459 non-null   object
 41  Electrical     1459 non-null   object
 42  1stFlrSF       1459 non-null   int64
 43  2ndFlrSF       1459 non-null   int64
 44  LowQualFinSF   1459 non-null   int64
 45  GrLivArea      1459 non-null   int64
 46  BsmtFullBath   1459 non-null   float64
 47  BsmtHalfBath   1459 non-null   float64
 48  FullBath       1459 non-null   int64
 49  HalfBath       1459 non-null   int64
 50  BedroomAbvGr   1459 non-null   int64
 51  KitchenAbvGr   1459 non-null   int64
 52  KitchenQual    1459 non-null   object
 53  TotRmsAbvGrd   1459 non-null   int64
 54  Functional     1459 non-null   object
 55  Fireplaces     1459 non-null   int64
 56  GarageType     1459 non-null   object
 57  GarageYrBlt    1459 non-null   float64
 58  GarageFinish   1459 non-null   object
 59  GarageCars     1459 non-null   float64
 60  GarageArea     1459 non-null   float64
 61  GarageQual     1459 non-null   object
 62  GarageCond     1459 non-null   object
 63  PavedDrive     1459 non-null   object
 64  WoodDeckSF     1459 non-null   int64
 65  OpenPorchSF    1459 non-null   int64
 66  EnclosedPorch  1459 non-null   int64
 67  3SsnPorch      1459 non-null   int64
 68  ScreenPorch    1459 non-null   int64
 69  PoolArea       1459 non-null   int64
 70  MiscVal        1459 non-null   int64
 71  MoSold         1459 non-null   int64
 72  YrSold         1459 non-null   int64
 73  SaleType       1459 non-null   object
 74  SaleCondition  1459 non-null   object
dtypes: float64(11), int64(26), object(38)
memory usage: 855.0+ KB

In [25]:
#Extracting the columns from the test dataset that have object datatype.
test1_objects = test1[['MSZoning','Street','LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
                  'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle','RoofStyle',
                  'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType','ExterQual', 'ExterCond',
                  'Foundation', 'BsmtQual', 'BsmtCond','BsmtExposure', 'BsmtFinType1','BsmtFinType2','Heating',
                  'HeatingQC','CentralAir', 'Electrical','KitchenQual','Functional', 'GarageType',
                  'GarageFinish','GarageQual', 'GarageCond','PavedDrive','SaleType','SaleCondition']]
test1_objects.head(5)

,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,Electrical,KitchenQual,Functional,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,SaleType,SaleCondition
0,RH,Pave,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,Norm,...,SBrkr,TA,Typ,Attchd,Unf,TA,TA,Y,WD,Normal
1,RL,Pave,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,Unf,TA,TA,Y,WD,Normal
2,RL,Pave,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,...,SBrkr,TA,Typ,Attchd,Fin,TA,TA,Y,WD,Normal
3,RL,Pave,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,Fin,TA,TA,Y,WD,Normal
4,RL,Pave,IR1,HLS,AllPub,Inside,Gtl,StoneBr,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal

In [26]:
#Applying label Encoder to the categorical columns
test1_objects = test1_objects.apply(label.fit_transform)
test1_objects.head(5)

,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,Electrical,KitchenQual,Functional,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,SaleType,SaleCondition
0,2,1,3,3,0,4,0,12,1,2,...,3,3,6,1,2,3,4,2,8,4
1,3,1,0,3,0,0,0,12,2,2,...,3,2,6,1,2,3,4,2,8,4
2,3,1,0,3,0,4,0,8,2,2,...,3,3,6,1,0,3,4,2,8,4
3,3,1,0,3,0,4,0,8,2,2,...,3,2,6,1,0,3,4,2,8,4
4,3,1,0,1,0,4,0,22,2,2,...,3,2,6,1,1,3,4,2,8,4

In [27]:
#Drop the object columns in the original data 
for column in  test1_objects.columns:
    test1.drop(column, axis =1, inplace =True)

In [28]:
#Adding the Id column to the object_columns. This will facilitate merge function later on.
test1_objects['Id'] = test1.iloc[:,0]

In [29]:
#Joining data3 with the encoded object_columns
test2 = pd.merge(test1, test1_objects, on= 'Id')
test2.info()     #All the columns are back.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1459 entries, 0 to 1458
Data columns (total 75 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   LotFrontage    1459 non-null   float64
 3   LotArea        1459 non-null   int64
 4   OverallQual    1459 non-null   int64
 5   OverallCond    1459 non-null   int64
 6   YearBuilt      1459 non-null   int64
 7   YearRemodAdd   1459 non-null   int64
 8   MasVnrArea     1459 non-null   float64
 9   BsmtFinSF1     1459 non-null   float64
 10  BsmtFinSF2     1459 non-null   float64
 11  BsmtUnfSF      1459 non-null   float64
 12  TotalBsmtSF    1459 non-null   float64
 13  1stFlrSF       1459 non-null   int64
 14  2ndFlrSF       1459 non-null   int64
 15  LowQualFinSF   1459 non-null   int64
 16  GrLivArea      1459 non-null   int64
 17  BsmtFullBath   1459 non-null   float64
 18  BsmtHalfBath   1459 non-null   float64
 19  FullBath       1459 non-null   int64
 20  HalfBath       1459 non-null   int64
 21  BedroomAbvGr   1459 non-null   int64
 22  KitchenAbvGr   1459 non-null   int64
 23  TotRmsAbvGrd   1459 non-null   int64
 24  Fireplaces     1459 non-null   int64
 25  GarageYrBlt    1459 non-null   float64
 26  GarageCars     1459 non-null   float64
 27  GarageArea     1459 non-null   float64
 28  WoodDeckSF     1459 non-null   int64
 29  OpenPorchSF    1459 non-null   int64
 30  EnclosedPorch  1459 non-null   int64
 31  3SsnPorch      1459 non-null   int64
 32  ScreenPorch    1459 non-null   int64
 33  PoolArea       1459 non-null   int64
 34  MiscVal        1459 non-null   int64
 35  MoSold         1459 non-null   int64
 36  YrSold         1459 non-null   int64
 37  MSZoning       1459 non-null   int32
 38  Street         1459 non-null   int32
 39  LotShape       1459 non-null   int32
 40  LandContour    1459 non-null   int32
 41  Utilities      1459 non-null   int32
 42  LotConfig      1459 non-null   int32
 43  LandSlope      1459 non-null   int32
 44  Neighborhood   1459 non-null   int32
 45  Condition1     1459 non-null   int32
 46  Condition2     1459 non-null   int32
 47  BldgType       1459 non-null   int32
 48  HouseStyle     1459 non-null   int32
 49  RoofStyle      1459 non-null   int32
 50  RoofMatl       1459 non-null   int32
 51  Exterior1st    1459 non-null   int32
 52  Exterior2nd    1459 non-null   int32
 53  MasVnrType     1459 non-null   int32
 54  ExterQual      1459 non-null   int32
 55  ExterCond      1459 non-null   int32
 56  Foundation     1459 non-null   int32
 57  BsmtQual       1459 non-null   int32
 58  BsmtCond       1459 non-null   int32
 59  BsmtExposure   1459 non-null   int32
 60  BsmtFinType1   1459 non-null   int32
 61  BsmtFinType2   1459 non-null   int32
 62  Heating        1459 non-null   int32
 63  HeatingQC      1459 non-null   int32
 64  CentralAir     1459 non-null   int32
 65  Electrical     1459 non-null   int32
 66  KitchenQual    1459 non-null   int32
 67  Functional     1459 non-null   int32
 68  GarageType     1459 non-null   int32
 69  GarageFinish   1459 non-null   int32
 70  GarageQual     1459 non-null   int32
 71  GarageCond     1459 non-null   int32
 72  PavedDrive     1459 non-null   int32
 73  SaleType       1459 non-null   int32
 74  SaleCondition  1459 non-null   int32
dtypes: float64(11), int32(38), int64(26)
memory usage: 649.7 KB

## Machine Learning

In [30]:
from sklearn.linear_model import LinearRegression

#Creating a linear regression object
model = LinearRegression()

#Preparing the feature matrix and target array
y = data4.iloc[:,37]       #Target array
X = data4.drop(['SalePrice'], axis=1)   #Feature Matrix

#Training the model
model.fit(X, y)

LinearRegression()

In [32]:
#Predicting the SalePrice of teh test dataset
test_saleprice = model.predict(test2)

In [39]:
#The finalsubmission
submission = pd.DataFrame()
submission['Id'] = test.iloc[:,0]
submission['SalePrice'] = test_saleprice
submission.to_csv('House Price Submission.csv', index=False)