In [17]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [24]:
music_data = pd.read_csv('music.csv')
# music_data.head(5)
music_data.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [26]:
#Preparing the data
X = music_data.drop(columns=['genre'])   #Creating the input set
y = music_data['genre']  #Creating the output data set

#Creating the model
model = DecisionTreeClassifier()
model.fit(X, y)
predictions = model.predict([[21, 1], [22, 0]])
predictions

array(['HipHop', 'Dance'], dtype=object)