In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [4]:
music_data = pd.read_csv('music.csv')
music_data.head(15)
#music_data.describe()

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic

In [5]:
#Preparing the data
X = music_data.drop(columns=['genre'])   #Creating the input set
y = music_data['genre']  #Creating the output/target data set

#Creating the model
model = DecisionTreeClassifier()               #Create an object of the model
model.fit(X, y)                                #Apply the model to the data
predictions = model.predict([[21, 1], [22, 0]])#Use the model to predict unknown data
predictions

array(['HipHop', 'Dance'], dtype=object)